{% extends 'portfolio/base.html' %}


{% block content %}

{% load static %}

    <a href="{% static 'portfolio_1/resume.pdf'  %}">resume</a>

    <img src="{% static '/portfolio_1/albero.jpg' %}" class="rounded mx-auto d-block" width="420px" height="240px">
    <div class="row">
    {% for project in Projects %}
    <div class="col-lg-4 col-md-6">
      <img src='{{ project.image.url }}' alt="" height='70px' width='70px'>
      <h2>{{ project.title }}</h2>
      <p>{{ project.description }}</p>


      {% if project.urls %}
        <br><a href="{{ project.urls }}">link</a>
      {% endif %}
    </div>


    {% endfor %}
    </div>

    {% endblock %}
